@model IEnumerable<Livraria.Models.Livro>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Livros Cadatrados</h2>
@Html.ActionLink("Cadastrar", "Cadastrar", "Livros", null, new { @class = "btn btn-primary" })
<br /><br />
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Edição</th>
            <th>Ano</th>
            <th>Editora</th>
            <th>Estoque</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Titulo</td>
                <td>@item.Autor</td>
                <td>@item.Edicao</td>
                <td>@item.Ano</td>
                <td>@item.Editora</td>
                <td>@item.Estoque</td>
            </tr>
        }
    </tbody>
</table>