@model IEnumerable<Livraria.Models.Livro>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Livros Cadastrados</h2>
@Html.ActionLink("Cadastrar", "Cadastrar", "Livros", null, new { @class = "btn btn-primary" })
<br /><br />
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Edição</th>
            <th>Ano</th>
            <th>Editora</th>
            <th>Estoque</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Titulo</td>
                <td>@item.Autor</td>
                <td>@item.Edicao</td>
                <td>@item.Ano</td>
                <td>@item.Editora</td>
                <td>@item.Estoque</td>
                <td>
                    @using (Html.BeginForm("Deletar", "Livros", new { id = item.Id }, FormMethod.Post ))
                    {
                        @Html.ActionLink("Editar", "Editar", "Livros", new { @id = item.Id }, new { @class = "btn btn-sm btn-primary" })
                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza?')">Remover</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>